# Force robotjs to build from source if needed
# robotjs_build_from_source=true

# Electron version (should match package.json)
target_arch=x64
runtime=electron
disturl=https://electronjs.org/headers
